
<ion-content [fullscreen]="true">
  <swiper-container slides-per-view="1" speed="500" loop="true" navigation="true" pagination="true" scrollbar="true">
    <swiper-slide>
      <img src="https://i.pinimg.com/originals/fb/f2/2f/fbf22ff8bf45175e1c72637783492e47.gif" alt="">
      
      <h1>Bonnie</h1>
    
    
    </swiper-slide>
    <swiper-slide>
      <img src="https://i.pinimg.com/originals/85/02/fa/8502fa65411c540c7b2605687cd5c0ba.gif" alt="">
     <h1>Chica</h1>
    </swiper-slide>
    <swiper-slide>
      <img src="https://media.tenor.com/tjcjObRIvTQAAAAi/jumpscare-fnaf.gif" alt="">
      <h1>Mickey kkkk</h1></swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
  </swiper-container>
</ion-content>
